%tr
  %td
    = article.title
  %td
    = article.description
  %td 
    = l(article.expired_at, format: :normal)
  %td 
    = l(article.created_at, format: :normal)
  %td 
    = l(article.updated_at, format: :normal)
  %td
    = render 'actions', article: article
