%section.container
  - if @article.persisted?
    = render 'edit_first'

  %h2.text-center 
    = page_title
  = will_paginate @articles
  - I18n.with_options(scope: 'activerecord.attributes.article') do |art|
    %table.table.table-striped
      %thead
        %tr
          %th 
            = art.t :title
          %th 
            = art.t :description
          %th 
            = art.t :expired_at
          %th 
            = art.t :created_at
          %th 
            = art.t :updated_at
          %th 
            = t 'actions.action'

      %tbody
        - if @articles.present?
          = render @articles
        - else
          %tr
            %td{colspan: 6}
              %p 
                = t('.news_em')
        %tr
          %td{colspan: 6}
            = link_to 'New', new_admin_article_path, class: 'btn btn btn-success'
  = will_paginate @articles
